section {
  display: flex;
  justify-content: center;
  width: 100%;

  form {
    width: 60%;
    .field {
      display: flex;
      flex-direction: column;
      padding: 5px;
      span {
        padding: 5px 0;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      button {
        border: none;
        cursor: pointer;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        background-color: limegreen;
        margin: 10px;
        &:first-child {
          background-color: rgb(227, 227, 227);
        }
        &:disabled {
          cursor: not-allowed;
          background-color: rgb(209, 226, 183);
        }
      }
    }
  }
}
